PORT=8080

# URL pública da API (ex: https://api.seudominio.com)
API_BASE_URL=http://localhost:8080

# URL pública do frontend (ex: https://seudominio.com)
WEB_APP_BASE_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/treinos-api

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8080

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_GENERATIVE_AI_API_KEY=
